@*@{
        ViewData["Title"] = "Privacy Policy";
    }
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>*@


<div class="">
    <div class="row mt-5">
        <div class="col-md-4 offset-md-4" style="background: #0000008f; border-radius: 6px; padding: 40px 30px; color:#fff;">
            <div class="panel panel-default">
                <div class="panel-body">

                    <h3 class="login-title">Hello!</h3>
                    <p>UWorld</p>
                    <form>
                        @*<div class="form-group">
                            <input type="email" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Username / Email" required>
                        </div>*@
                        <button type="submit" class="btn btn-uw float-right"> Edit Password </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
